
body {
  background-color: #cce0ed;
}
.center {
 font-size: 40px;
        text-align: center;
}
.center1{
 font-size: 25px;
        color: #1F305E;
 text-align: center;

}

 .fontinc{
 font-size: 20px;
 }
  h1 {
  color: #002D62;
  }


